<div class="privacy-policy-article">
  <div class="container body">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card border-0">
          <div class="card-body">
            <h1 class="headline">
              <span class="material-icons align-middle">lock</span>
              {{ title }}
            </h1>
            <ol class="policy-list ps-3">
              <li class="mb-3" *ngFor="let section of sections">
                <strong>{{ section.heading }}</strong>
                <ul>
                  <li *ngFor="let item of section.items">{{ item }}</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>