<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/h2.jpg')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>{{ "about.TITLE" | translate }}</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none">
            {{ "about.BREADCRUMB.HOME" | translate }}
          </a>
          - <span> {{ "about.BREADCRUMB.ABOUT_US" | translate }} </span>
        </h3>
      </div>
    </section>
  </div>
</div>

<!-- Who We Are Section -->
<div class="about-inchaat">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-30">
        <div class="title">
          <h1>{{ "about.WHO_WE_ARE.TITLE" | translate }}</h1>
        </div>
        <div class="about-inchaat-content">
          <p>{{ "about.WHO_WE_ARE.CONTENT" | translate }}</p>
        </div>
      </div>
      <div class="about-inchaat-img col-md-6">
        <img src="assets/imgs/skyscraper.jpg" alt="About Us Image" />
      </div>
    </div>
  </div>
</div>

<!-- Postcard -->
<div class="postcard-section">
  <div class="container">
    <article class="postcard light blue">
      <img class="postcard__img" src="assets/imgs/aq3.jpeg" alt="Image Title" />
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">
          {{ "about.OUR_VISION.TITLE" | translate }}
        </h1>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          {{ "about.OUR_VISION.CONTENT" | translate }}
        </div>
      </div>
    </article>
  </div>
</div>

<!-- Statistics Section -->
<div class="statistics" #statisticsSection>
  <div class="row justify-content-center">
    <div
      class="stat-content col-sm-2"
      *ngFor="let stat of stats; let i = index"
    >
      <div class="icon-container">
        <span class="material-symbols-outlined">{{ stat.icon }}</span>
      </div>
      <h1 [attr.id]="'stat-' + i">0</h1>
      <p class="subtitle">{{ stat.label }}</p>
    </div>
  </div>
</div>
<app-team></app-team>
