<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/h2.jpg')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>Contact</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none"
            >Home</a
          >
          - <span> Contact </span>
        </h3>
      </div>
    </section>
  </div>
</div>

<div class="contact-page">
  <div class="container">
    <div class="row">
      <!-- Contact Information Section -->
      <div class="col-sm-12 contact-info">
        <h3>Contact Us</h3>
        <p>
          We are here to help you. Reach out to us through the form or use the
          contact details below. Our team is ready to assist with any inquiries
          or feedback, and we will respond as quickly as possible to meet your
          needs.
        </p>
        <div class="contact-details row">
          <div class="email-container col-sm-5">
            <div class="icon-container">
              <span class="material-symbols-outlined"> email </span>
            </div>
            <a href="mailto:synaxiscompany@gmail.com"
              >synaxiscompany&#64;gmail.com</a
            >
          </div>
          <div class="phone-container col-sm-3">
            <div class="icon-container">
              <span class="material-symbols-outlined"> phone </span>
            </div>
            <a href="/">+965 509 121</a>
          </div>
          <div class="whatsapp-container col-sm-4">
            <div class="icon-container">
              <fa-icon [icon]="faWhatsapp" class="whatsapp-icon"></fa-icon>
            </div>
            <a href="https://wa.me/01016852128"> +965 509 121</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact form section -->
    <div class="row contact-form">
      <h3 style="padding-left: 24px">get in touch</h3>
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        style="display: flex"
      >
        <div class="col-sm-6" style="padding-right: 40px">
          <div class="form-group">
            <input
              type="text"
              id="name"
              placeholder="Name*"
              formControlName="name"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('name')?.invalid &&
                  contactForm.get('name')?.touched
              }"
            />
            <div
              *ngIf="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('name')?.errors?.['required']">
                Please provide your name.
              </small>
              <small *ngIf="contactForm.get('name')?.errors?.['minlength']">
                Name must be at least 3 characters long.
              </small>
            </div>
          </div>

          <div class="form-group">
            <input
              type="email"
              id="email"
              placeholder="Email*"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
              }"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']">
                An email address is required.
              </small>
              <small *ngIf="contactForm.get('email')?.errors?.['email']">
                Please enter a valid email.
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <textarea
              id="message"
              placeholder="Message*"
              rows="4"
              formControlName="message"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('message')?.invalid &&
                  contactForm.get('message')?.touched
              }"
            ></textarea>
            <div
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('message')?.errors?.['required']">
                Please enter your message.
              </small>
              <small *ngIf="contactForm.get('message')?.errors?.['minlength']">
                Your message must be at least 10 characters long.
              </small>
            </div>
          </div>

          <button type="submit" class="btn" [disabled]="contactForm.invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
