/* Hero Section */
.header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header .header-content {
  display: grid;
  text-align: center;
  z-index: 2;
}

.header-content h1 {
  font-weight: 700;
  color: white;
  font-size: 50px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.header-content h3 {
  font-size: 16px;
  color: #bbb;
  font-weight: 400;
}
.header-content h3 span {
  color: #f3bc15;
}

.ad-type-icon {
  font-size: 4.5rem;
  margin-bottom: 10px;
  color: #142534;
}
.ad-type-title {
  font-size: 1.2rem;
  font-weight: 400;
  color: #142534;
  margin-top: 8px;
}
.type-card{
  cursor: pointer;
  margin: 10px auto;
}
.ad-type-card:hover {
  background: #142534;
  color: #fff;
  transition: all 0.2s ease-in-out;

  .ad-type-icon {
    color: #FFF;
  }
  .ad-type-title {
    color: #FFF;
  }

}
/* General Styling */
.property-page {
  background: #f9f9f9;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 80px auto;
}

.text-center {
  text-align: center;
  margin: 25px 15px 70px;
  text-transform: uppercase;
  font-size: 2rem;
}

.form-section {
  border-right: 1px solid #e0e0e0;
  padding-right: 20px;
}

.preview-section {
  padding-left: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input,
textarea,
select {
  width: 99%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
}

.form-row {
  display: flex;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background: #001f3f;
  color: #fff;
}

.preview-box {
  padding: 20px;
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
}
.form-check-label {
  margin: 5px;
  font-size: 12px;
  font-weight: 600;
}
.form-check-input {
  width: 2px;
  margin-top: 5px;
  border: 1px solid #898989;
  padding: 8px;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start; /* default for LTR */
}


/* For RTL: reverse the order and align to flex-end */
:host-context([dir="rtl"]) .form-check {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* SNACKBAR STYLE */
.snackbar-success {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
