<header>
  <nav
    class="navbar navbar-expand-lg navbar-blue fixed-top"
    [ngClass]="{
      'navbar-light': !isAtTop,
      'navbar-hidden': !isNavbarVisible,
      'navbar-transparent': isAtTop && !isNavbarCollapsed,
      'navbar-collapsed-bg': isNavbarCollapsed
    }"
  >
    <div class="container">
      <div class="logo" style="width: 20%">
        <a class="navbar-brand" routerLink="">
          <img src="assets/imgs/6-0.png" alt="synaxis" />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="justify-content: center; padding: 15px"
        appDropdown
      >
        <ul class="navbar-nav" style="width: 66%; justify-content: flex-end">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="home"
              [routerLinkActive]="['active']"
              (click)="collapseNavbar()"
              >{{ "layout.nav.home" | translate }}</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              routerLink="about"
              [routerLinkActive]="['active']"
              (click)="collapseNavbar()"
              >{{ "layout.nav.about" | translate }}</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="servicesDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="collapseNavbar()"
            >
              {{ "layout.nav.services" | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >{{ "layout.nav.services_list.real_estate" | translate }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >{{ "layout.nav.services_list.exhibitions" | translate }}
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >{{ "layout.nav.services_list.events" | translate }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >{{ "layout.nav.services_list.constructions" | translate }}</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="projectsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "layout.nav.projects" | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="collapseNavbar()"
                  >{{
                    "layout.nav.projects_list.city_entertainment" | translate
                  }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >{{ "layout.nav.projects_list.events" | translate }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >{{ "layout.nav.projects_list.durable_goods" | translate }}</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="news"
              [routerLinkActive]="['active']"
              (click)="collapseNavbar()"
              >{{ "layout.nav.news" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="contact"
              [routerLinkActive]="['active']"
              (click)="collapseNavbar()"
              >{{ "layout.nav.contact" | translate }}
            </a>
          </li>
        </ul>
        <div
          class="navbar-collapse"
          id="nav-icons"
          style="justify-content: end"
        >
          <!-- Language Selector Dropdown -->
          <div class="dropdown" style="display: inline-block">
            <button
              style="padding: 0"
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="languageDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ currentLang === "ar" ? "العربية" : "English" }}
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="languageDropdown"
              style="background-color: #142534; color: white; cursor: pointer"
            >
              <li>
                <a class="dropdown-item" (click)="onLanguageChange('en')"
                  >English</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="onLanguageChange('ar')"
                  >Arabic</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <!-- Get in Touch Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">
          {{ "layout.footer.get_in_touch" | translate }}
        </h3>
        <div class="footer-links">
          <div class="contact-item">
            <span class="material-symbols-outlined">mail</span>
            <a href="mailto:info@synaxise.com">
              {{ "layout.footer.email" | translate }}
            </a>
          </div>
          <div class="contact-item">
            <span class="material-symbols-outlined">call</span>
            <span style="font-size: 16px">{{
              "layout.footer.phone" | translate
            }}</span>
          </div>
          <a
            style="text-decoration: none; color: inherit"
            class="contact-item"
            href="https://wa.me/01016852128"
          >
            <fa-icon [icon]="faWhatsapp" class="whatsapp-icon"></fa-icon>
            <a href="https://wa.me/01016852128">{{
              "layout.footer.whatsapp" | translate
            }}</a>
          </a>
        </div>
      </div>

      <!-- Information Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">
          {{ "layout.footer.information" | translate }}
        </h3>
        <ul class="footer-links">
          <li>
            <a routerLink="about">{{ "layout.footer.about_us" | translate }}</a>
          </li>
          <li>
            <a routerLink="news">{{ "layout.footer.news" | translate }}</a>
          </li>
          <li>
            <a routerLink="contact">{{
              "layout.footer.contact_info" | translate
            }}</a>
          </li>
        </ul>
      </div>

      <!-- Support Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">{{ "layout.footer.support" | translate }}</h3>
        <ul class="footer-links">
          <li>
            {{ "layout.footer.faq" | translate }}
          </li>
          <li>
            {{ "layout.footer.help_center" | translate }}
          </li>
          <li>
            {{ "layout.footer.customer_service" | translate }}
          </li>
        </ul>
      </div>

      <!-- Policies Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">{{ "layout.footer.policies" | translate }}</h3>
        <ul class="footer-links">
          <li>
            {{ "layout.footer.privacy_policy" | translate }}
          </li>
          <li>
            {{ "layout.footer.terms_conditions" | translate }}
          </li>
          <li>
            {{ "layout.footer.return_policy" | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-footer text-center">
    {{ "layout.footer.copyright" | translate : { year: currentYear } }}
  </div>
</footer>
