/* Navbar Styling */
.navbar-content.hidden {
  display: none;
}

.navbar-hidden {
  display: none;
}
.fixed-top {
  z-index: 999;
}

.navbar {
  transition: background-color 0.3s;
  z-index: 999;
}
.navbar-blue {
  background-color: #142534;
}
.nav-link {
  color: #dedede;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav-link:hover {
  color: #fec531;
}
.navbar-nav .active {
  color: #fec531;
  text-decoration: underline;
  font-weight: 600;
}
.navbar-brand img {
  width: 110px;
}

#navbarNav {
  justify-content: flex-end;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  width: auto;
  border: none;
}
.navbar-collapsed-bg {
  background-color: #142534; /* Same as navbar-blue background */
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-transparent {
  background-color: transparent;
}

.dropdown-menu {
  background-color: #142534;
}

.dropdown-item {
  color: #dedede;
  text-transform: capitalize;
}

.dropdown-item:hover {
  color: #fec531;
  background-color: transparent;
}

.nav-link.active,
.dropdown-item.active {
  color: #fec531;
  text-decoration: underline;
  font-weight: 600;
}

.material-symbols-outlined {
  font-weight: 200;
  font-size: 24px;
}
#languageDropdown {
  background-color: inherit;
  color: #dedede;
  border: none;
}

/* Footer Styling */
footer {
  background-color: #142534;
  color: #fff;
  padding-top: 80px;
  position: relative;
}

.footer-title {
  font-size: 18px;
  margin: 25px 0 15px;
  font-weight: bold;
  color: #bdbdbd; /* Ensures consistency */
}

.footer-links {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #bdbdbd;
  text-decoration: none;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item span {
  font-size: 20px;
}

.contact-item a {
  color: #bdbdbd; /* Changes link color */
  text-decoration: none;
  transition: color 0.2s;
}

.contact-item a:hover {
  color: #ccc;
}

/* .social-media {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social-media a {
  font-size: 22px;
  color: #bdbdbd;
} */

ul.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .footer-links li {
  margin-bottom: 10px;
} */

.footer-links li a {
  color: #bdbdbd;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links li a:hover {
  color: #ccc;
}

.sub-footer {
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #bdbdbd;
  color: #bdbdbd;
}

@media (max-width: 768px) {
  .footer-content {
    text-align: center;
  }
  .footer-img {
    display: flex;
    justify-content: center;
  }
}
