<header>
  <nav class="navbar navbar-expand-lg navbar-blue fixed-top">
    <div class="container">
      <div class="logo" style="width: 20%">
        <a class="navbar-brand" routerLink="">
          <img src="assets/imgs/6-0.png" alt="Kawkaba" />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about-us" routerLinkActive="active"
              >About Us</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="projects" routerLinkActive="active"
              >Projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active"
              >Contact</a
            >
          </li>
        </ul>
        <div class="navbar-icons d-flex align-items-center">
          <!-- Icons or other elements can go here -->
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="title">
      <span>Contact Us</span>
      <h1>Let's Work Together</h1>
    </div>
    <div class="row">
      <div class="col-md-9 footer-content">
        <h3 class="footer-title">Get in Touch</h3>
        <p><span>Phone:</span> 01016852128</p>
        <p><span>Follow Us</span> for updates:</p>
        <div class="footer-links">
          <div
            style="display: inline-block; padding: 0 10px 0 0; font-size: 22px"
          >
            <a
              href="https://instagram.com/kawkabafragrances?utm_medium=copy_link"
            >
              <fa-icon [icon]="faInstagram" style="color: #c49e39"></fa-icon>
            </a>
          </div>
          <div style="display: inline-block; font-size: 22px">
            <a href="https://t.me/kawkabafragrances">
              <fa-icon [icon]="faWhatsapp" style="color: #c49e39"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-img">
        <img
          src="assets/imgs/6-0.png"
          style="max-width: 100%"
          alt="Footer Image"
        />
      </div>
    </div>
  </div>
  <div class="sub-footer text-center">
    © Copyright {{ currentYear }} Kawkaba. All rights reserved.
  </div>
</footer>
