<header>
  <nav
    class="navbar navbar-expand-lg navbar-blue fixed-top"
    [ngClass]="{
      'navbar-light': !isAtTop,
      'navbar-hidden': !isNavbarVisible,
      'navbar-transparent': isAtTop && !isNavbarCollapsed,
      'navbar-collapsed-bg': isNavbarCollapsed
    }"
  >
    <div class="container">
      <div class="logo" style="width: 20%">
        <a class="navbar-brand" routerLink="">
          <img src="assets/imgs/6-0.png" alt="synaxis" />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="justify-content: center"
        appDropdown
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="home"
              [routerLinkActive]="['active']"
              (click)="collapseNavbar()"
              >HOME</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              class="nav-link"
              routerLink="about"
              (click)="collapseNavbar()"
              >about</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="servicesDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="collapseNavbar()"
            >
              SERVICES
            </a>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >Real Estate Investment and Development</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >Exhibitions</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >events</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >constructions</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="projectsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="collapseNavbar()"
                  >Synaxis city intertainment</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >synaxis events</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="coming-soon"
                  (click)="setActiveLink('coming-soon')"
                  (click)="collapseNavbar()"
                  >Synaxis Durable Goods Exhibition</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="coming-soon"
              (click)="collapseNavbar()"
              >gallary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" (click)="collapseNavbar()"
              >CONTACT
            </a>
          </li>
        </ul>
      </div>
      <div
        class="collapse navbar-collapse"
        id="nav-icons"
        style="justify-content: end"
      >
        <div
          style="
            display: inline-block;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
          "
        >
          <span class="material-symbols-outlined" style="color: white">
            shopping_bag
          </span>
        </div>
        <app-cart
          *ngIf="cartComponent.isVisible"
          class="cart-container"
        ></app-cart>
        <div
          style="
            display: inline-block;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
          "
        >
          <span
            class="material-symbols-outlined"
            style="color: white; display: contents"
          >
            account_circle
          </span>
        </div>

        <!-- <button class="btn mb-auto" routerLink="../login">Login</button> -->
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <!-- Get in Touch Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">Get in Touch</h3>
        <div class="footer-links">
          <div class="contact-item">
            <span class="material-symbols-outlined">mail</span>
            <a href="mailto:synaxisinformation@gmail.com"
              >synaxisinformation&#64;gmail.com</a
            >
          </div>
          <div class="contact-item">
            <span class="material-symbols-outlined">call</span>
            <span style="font-size: 16px">01016852128</span>
          </div>
          <a
            style="text-decoration: none; color: inherit"
            class="contact-item"
            href="https://wa.me/01016852128"
          >
            <fa-icon [icon]="faWhatsapp" class="whatsapp-icon"></fa-icon>
            <a href="https://wa.me/01016852128"> +965 509 121</a>
          </a>
        </div>
      </div>

      <!-- Information Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">Information</h3>
        <ul class="footer-links">
          <li><a routerLink="about">About Us</a></li>
          <li><a routerLink="coming-soon">Gallary</a></li>
          <li><a routerLink="contact">Contact Info</a></li>
        </ul>
      </div>

      <!-- Support Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">Support</h3>
        <ul class="footer-links">
          <li><a routerLink="coming-soon">FAQ</a></li>
          <li><a routerLink="coming-soon">Help Center</a></li>
          <li><a routerLink="coming-soon">Customer Service</a></li>
        </ul>
      </div>

      <!-- Policies Column -->
      <div class="col-sm-3">
        <h3 class="footer-title">Policies</h3>
        <ul class="footer-links">
          <li><a routerLink="coming-soon">Privacy Policy</a></li>
          <li><a routerLink="coming-soon">Terms & Conditions</a></li>
          <li><a routerLink="coming-soon">Return Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-footer text-center">
    © Copyright {{ currentYear }} Synaxis. All rights reserved.
  </div>
</footer>
