html {
  scroll-behavior: smooth;
}
.header-title h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px); /* Start below */
  animation: wordAnimation 1s ease forwards;
}

@keyframes wordAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}
.header {
  position: sticky; /* Keeps the header sticky at the top */
  top: 0;
  width: 100%;
  height: 100vh; /* Full screen */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header .container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.message,
.services-section,
.projects-section {
  padding: 100px 20px;
  background: #f4f4f4;
}

/* Transition for the content sections to provide a smooth appearance */
.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
.header-title {
  text-align: start;
}

.cinzel-decorative {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  font-style: normal;
}
.afacad-flux-style {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-transform: uppercase;
  font-size: 50px;
}
.mybtn {
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 52px;
  width: 159px;
  padding: 15px 11px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid white;
  background-color: inherit;
  margin: 48px 0 0 5px;
  cursor: pointer;
  border-radius: 6px;
}
.mybtn:hover {
  background-color: white;
  border: none;
  transition: all 0.2s ease-in-out;
  color: rgb(6 51 95);
  font-weight: 600;
}

.notice {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.notice h3 {
  font-size: 15px;
  font-weight: 300;
}
.notice span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.header-content {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}
@media (max-width: 768px) {
  .notice {
    padding-top: 20px;
    display: block;
    text-align: start;
  }
}

/* service css */
.services-section {
  z-index: 2;
  position: relative;
}
.title {
  margin: auto;
  text-align: center;
  margin-top: 90px;
}
.title span {
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #e6b10e;
}
.title h1 {
  color: black;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
}

.cards-container {
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 100%;
  height: 16rem;
  margin-top: 24px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0%;
  position: relative;
  color: aliceblue;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 51, 95, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 2;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
    transition: opacity 0.2s ease-out;
  }

  h2 {
    font-size: 20px;
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 2;
  }

  p {
    inset: auto auto 30px 30px;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  &:hover h2 {
    inset: auto auto 180px 30px;
    transition: inset 0.3s ease-out;
    z-index: 3;
  }

  &:hover p {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
    z-index: 3;
  }

  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
}

.card:hover .overlay {
  opacity: 1;
}

.btn {
  margin-bottom: 40px;
  border: none;

  .mybtn {
    width: 221px;
    height: 58px;
    color: #001f3f;
    border: 1px solid #001f3f;
  }
  .mybtn:hover {
    background-color: #001f3f;
    color: white;
    border: none;
  }
}

/* Message */
.message {
  position: relative;
  height: 450px;
  background: #142534;
  align-items: center;
  display: flex;
  justify-content: center;
}

.message .content.container {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 6% 21%;
}
.message .container p {
  font-size: 17px;

  font-family: sans-serif;
  color: white;
  z-index: 5;
}
.message .container h1 {
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fec531;
  z-index: 5;
  margin-bottom: 30px;
}

.message .container .btn {
  z-index: 5;
  display: flex;
  padding: 0;
}
.projects-section {
  padding-bottom: 80px;
}

/* Meet Our Team */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  z-index: 1;
  position: relative;
}
.profile-card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}
.wrapper .title {
  margin: 30px 0;
}

.wrapper .cards-container {
  justify-content: center;
  padding-bottom: 120px;
}
.profile {
  position: relative;
  width: 320px;
  height: 370px;
  box-shadow: 0 5px 30px 10px rgb(19 0 0 / 20%);
  background-size: cover;
  cursor: pointer;
  border: 12px;
  margin-bottom: 30px;
  border-radius: 6px;
}
.profile:hover {
  box-shadow: 0 8px 18px 0 #142534;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;

  border-radius: 6px;
}
.profile:hover .overlay {
  opacity: 1;
}
.social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}
.social-icons li:hover {
  background: #fff;
  color: #000;
}
.overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column;
}
