<div class="header">
  <picture>
      <source srcset="assets/imgs/601-comp.webp" type="image/webp" />
      <img src="assets/imgs/skyscraper.jpg" alt="header background" class="header-bg" />
    </picture>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 header-content">
        <div class="header-title">
          <h1 class="cinzel-decorative">
            <span
              *ngFor="
                let word of ('home.header.title' | translate).split(' ');
                let i = index
              "
              [style.animationDelay]="i * 0.5 + 's'"
            >
              {{ word }}
            </span>
          </h1>
        </div>
        <div class="row">
          <div class="col-md-9" style="display: flex">
            <button
              class="mybtn"
              routerLink="/contact"
              style="z-index: 3 !important"
            >
              {{ "home.header.consult_now" | translate }}
            </button>
          </div>
          <div class="notice col-md-3">
            <h3>{{ "home.header.synaxis_intro" | translate }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section message">
  <div class="row">
    <div class="col-md-12">
      <div class="content container">
        <h1>{{ "home.message.title" | translate }}</h1>
        <p>
          {{ "home.message.description" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<div class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30">
          <span>{{ "home.services_section.subtitle" | translate }}</span>
          <h1>{{ "home.services_section.title" | translate }}</h1>
          <p style="padding: 6px 0px; color: #1c1c1cd1">
            {{ "home.services_section.description" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="services-grid">
        <div
          class="service-card">
          <img src="assets/imgs/ser1.jpeg" alt="serviceImg" class="service-img"  />
          <h4 class="service-name">{{ "home.services_section.real_estate.title" | translate }}</h4>
          <p>
                {{ "home.services_section.real_estate.description" | translate }}
          </p>
        </div>
        <div
          class="service-card">
          <img src="assets/imgs/s4.webp" alt="serviceImg" class="service-img"  />
          <h4 class="service-name">{{ "home.services_section.constructions.title" | translate }}</h4>
          <p>
              {{
                "home.services_section.constructions.description" | translate
              }}
          </p>
        </div>
        <div
          class="service-card">
          <img src="assets/imgs/ser3.jpeg" alt="serviceImg" class="service-img" />
          <h4 class="service-name">{{ "home.services_section.events.title" | translate }}</h4>
          <p>
              {{ "home.services_section.events.description" | translate }}
          </p>
        </div>
    </div>    
  </div>
</div>

<section class="sell-property-section">
  <div class="container">
    <div class="row d-flex flex-wrap">
      <div class="sell-property-content col-md-6 col-12">
        <h2>{{ "home.sell_property.title" | translate }}</h2>
        <p>
          {{ "home.sell_property.description1" | translate }} <br />
          {{ "home.sell_property.description2" | translate }}
        </p>
        <button class="sell-btn" routerLink="/properties/add">
          {{ "home.sell_property.add_property" | translate }}
        </button>
      </div>
      <div class="sell-property-video col-md-6 col-12">
        <video autoplay muted loop playsinline preload="auto">
          <source src="assets/videos/property-video.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>

<section class="lists-section">
  <!-- Unified "no data" message -->
  <div *ngIf="allEmpty" class="no-data-section text-center ">
  <h3>{{ "home.no_adds.title" | translate }}</h3>
  <p>{{ "home.no_adds.description" | translate }}</p>
  <button class="sell-btn" routerLink="/properties/add">
          {{ "home.sell_property.add_property" | translate }}
        </button>

</div>

<!-- Only show lists if not all empty -->
<ng-container *ngIf="!allEmpty" class="lists-container">
  <app-properties-list (empty)="noProperties = $event"></app-properties-list>
  <app-cars-list (empty)="noCars = $event"></app-cars-list>
  <app-jobs-list (empty)="noJobs = $event"></app-jobs-list>
</ng-container>

</section>