<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <h3>Hello this is my subtitle</h3>
          <h1>Here is our title if you interested</h1>
          <p>
            Hello this is our content about our company, if you need anything
          </p>
        </div>
        <button class="mybtn">consult now</button>
      </div>
      <div class="col-md-6">
        <img src="assets/imgs/iStock-1852272481-removebg-preview.png" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- ************  services section  ********  -->
<div class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30">
          <span>let's know about</span>
          <h1>our construction services</h1>
          <p style="padding: 6px 20%">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At sapiente
            dolor consequatur eius placeat aspernatur sit aperiam sequi vitae
          </p>
        </div>
      </div>
    </div>
    <div class="row cards-container">
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s2.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s4.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s3.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="mybtn">view all services</button>
    </div>
  </div>
</div>

<!-- parallax -->
<div class="row">
  <div class="col-md-12">
    <section
      class="parallax img-fluid"
      style="background-image: url('assets/imgs/parallax.jpg')"
    >
      <div class="overlay"></div>
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
          <div class="content container">
            <h3>scan & smell</h3>
            <h1>
              try befor buy! <br />
              discover new experience with iperfume machine
            </h1>
            <div class="btn">
              <button class="mybtn">discover now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- projects section -->
<div class="projects-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30">
          <span>our projects</span>
          <h1>explore our diverse range of projects</h1>
          <p style="padding: 6px 20%">
            We specialize in a wide range of construction services, including
            residential, commercial, and industrial projects.
          </p>
        </div>
      </div>
    </div>
    <div class="row cards-container">
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s2.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s4.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s3.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s3.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s3.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s3.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Card Heading</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="mybtn">view all projects</button>
    </div>
  </div>
</div>
